Package: com.pantsthief.flexing
Name: FLEXing
Pre-Depends: firmware (>= 8.0)
Version: 1.5.1
Architecture: iphoneos-arm
Description: Open FLEX anywhere!
Maintainer: Tanner Bennett <thepantsthief@me.com>
Author: Tanner Bennett <thepantsthief@me.com>
Section: Tweaks
Conflicts: com.dgh0st.flexall, gg.gh0stbyte.flexivator, com.shmoopillic.flexible, applebetas.ios.tweak.devtools.flexgesture, com.creaturecoding.flexer, com.lacertosusrepo.flex4me, me.nepeta.flexxx, com.ipadkid.flexit, com.qiop1379.flexbar, com.leftyfl1p.reflex
Depiction: https://nscake.github.io/package.html?package=com.pantsthief.flexing
SileoDepiction: https://nscake.github.io/depictions/com.pantsthief.flexing.sileo.json
